/* structure part*/
.global {
    height: 100%;
    margin: 0px;
    background-color: rgb(207, 223, 248);
    font-family: sans-serif;
}

.main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

.navigation {
    width: 100%;
    background-color: rgb(169, 200, 242);
}

.container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 250px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 240px;
    clear: both;
    background-color: rgb(77,88,99);
}

/* main part */
.navigation-logo{
    height: 60px;
    background-color: rgb(128,164,236);
}

.navigation-logo > img{
    width: 130px;
    height: 130px;
    margin-left: 15%;
    z-index: auto;
}

.navigation-title{
    overflow: hidden;
    margin-left: 20%;
    margin-bottom: 10px;
}
.navigation, .navigation li{
    list-style: none;
    float: left;
}
.navigation li a{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps:petite-caps;
    display: block;
    padding: 11px 30px;
    color: black;
    text-decoration: none;
    /* border-right: 1px solid black; */
}

.container {
    height:auto !important;
    min-height: 100%;
    width: 70%;
    margin: 0 auto;
    background-color:whitesmoke;
    overflow: hidden;
}

.left-column {
    min-height: 700px;
    height: 100%;
    width: 14%;
    float: left;
    margin-right: 20px;
    /* display: block; */
    background-color:rgb(177,207,231);
    /* background-color: blueviolet; */
}

.sidebar-box {
    height: auto;
    background:rgb(223,216,243);
    margin: 0 0 20px 0;
    padding: 4px;
}

.design {
    padding: 4px;
    margin: 0;
    overflow: hidden;
}

.design a {
    font-size: 15px;
    font-family:sans-serif;
    line-height: 20px;
    background-color:rgb(223,216,243);
    text-decoration: none;
    display: block;
    padding: 4px;
    /* border-bottom: 1px solid black; */
    /* color:black; */
    color:gray;
}

h2.left {
    color: gray;
    /* background-color: rgb(207, 241, 10); */
    font-variant-caps: all-petite-caps;
    font-size: 120%;
    margin-bottom: 4px;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    font-weight: 700;
}

.left_h2 {
    color: rgb(128,164,236);
}

.contentfont{
    min-width: 900px;
    max-width: fit-content;
    color: gray;
    word-wrap: break-word;
    word-break:break-all;
    margin-left: 100px;
    margin-right: 100px;
}

.contentfont > h1,h2,h3{
    color: rgb(128,164,236);
    font-variant-caps: all-petite-caps;
}

.contentfont > p{
    font-size: large;
    text-indent: 2em;
}

.footer .footer-context dl {
    width: 20%;
    padding-left: 15px;
    margin: 25px 0;
    float: left;
    border-left: 1px solid ;
    min-height: 175px;
    font-variant-caps: all-petite-caps;
    color:floralwhite;

}

.footer-context a{
    text-decoration: none;
    color:floralwhite;
}

.copyright  a{
    color: floralwhite;
    text-decoration: none;
}

.footer .footer-block .footer-context {
    width: 64%;
    margin: 0 auto;
    min-height: 200px;
}